.player
{
    top: 0rem;
    left: 0rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    
    transition-duration: 0.3s;
    transition-property: left, top;
    transition-timing-function: ease;
    
    border-radius: 0.1rem;
    background-color: $red;
}
