.world
{
    min-width: $rwidth;
    min-height: $rheight;
    
    .tile
    {
        top: 0rem;
        left: 0rem;
        width: 1rem;
        height: 1rem;
        position: absolute;
        
        background-size: 1rem;
        background-repeat: no-repeat;
        background-color: $background-color;
    }
}

.backdrop
{
    height: $rheight;
}
