button#fullscreen
{
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0.25rem;
    position: absolute;
    
    border: none;
    border-radius: 0.1rem;
    
    font: inherit;
    font-size: 0.5rem;
    
    cursor: pointer;
}
