.world
{
    min-width: $rwidth;
    min-height: $rheight;
    
    background-color: $white;
    
    .tile
    {
        top: 0rem;
        left: 0rem;
        width: 1.1rem;
        height: 1.1em;
        position: absolute;
        
        background-color: blue;
    }
}
